.footer {
  background-color: $turquoise;
}
// .footer__container {
// }
.footer__body {
  padding: calc(5px + 20 * (100vw / 1280)) 0; // fixed!!!
  @media screen and (min-width: 576px) {
    @include dFlexBetween;
  }
}
.footer__heading {
  @include removeMb;
  @media screen and (max-width: 576px) {
    text-align: center;
  }
}
.footer__title {
  margin-bottom: 10px;
}
// .footer__subtitle {
// }
